<%# This file outputs the basic information about a user, such as their first
name, last name, email, and if they're an admin. %>

<% @user.each do |user|%>
<div>
     <p><%= user.fname%>
     <%= user.lname%>
     <%= user.email%>
     <%= user.admin%></p>
</div>
<% end %>